#headerPhoto {
    background-color: #e08a1a;
    height: 25vw;
    width: 75vw;
    font-weight: bolder;
    color: #e08a1a;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfNFx2LZApDmevgfCeuww-Qyu2nwUjcXGNHA&usqp=CAU")>
}

h1 {
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #e08a1a;
}

#aboutBitcoin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
    text-decoration:solid;
    font-size: medium;
    size: 0px;
}


#bitcoinOrg {
  height: 100%;
  color: orange;
  line-height: 1.8;
  text-align: center;
  color: #e08a1a;
  font-weight: 300;
  width: 100%;
  font-size: 1.25rem;
}
